<div class="container">
    <h1>Posts</h1>
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="sel1">Select list:</label>
                <select class="form-control" id="sel1" (change)="reloadPosts({ userId: u.value })" #u>
                    <option value="">Select a user.</option>
                    <option value="{{ user.id }}" *ngFor="let user of users">{{user.name}}</option>
                </select>
                <pagination (page-changed)="onPageChanged($event)" [items]="posts"></pagination>
            </div>
            <spinner [visible]="postsLoading"></spinner>
            <ul class="list-group posts">
                <li (click)="onPostClick(post)" [class.active]="currentpost == post" *ngFor="let post of pagedposts" class="list-group-item">{{post.title}}</li>
            </ul>
        </div>
        <div class="col col-md-6">
            <div class="panel panel-default" *ngIf="currentpost">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{currentpost.title}}
                    </h3>
                </div>
                <div class="panel-body">
                    {{currentpost.body}}
                </div>
                <spinner [visible]="commentsLoading"></spinner>
                <div class="panel-body" *ngFor="let comment of currentpost.comments">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="https://unsplash.it/80/80/?random={{comment.id}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.name}}</h4>
                            {{comment.body}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>